div.laranja
	div.logo
		a(href="http://localhost:60000/quadros"): img.className#IdName(src="/images/logo.png" alt="Image Title")
		a(href="http://localhost:60000/quadros"): img.className#IdName(src="/images/logoescrita.png" alt="Image Title")


