doctype html
html
head
	title= title
	link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
	link(rel='stylesheet', href='/stylesheets/materialize.min.css')
	link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
	link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
	link(rel='stylesheet', href='/stylesheets/style.css')
	script(src='/../javascripts/jquery-3.1.1.min.js')
	script(src='/../javascripts/bootstrap.min.js')
	script(src='/../javascripts/materialize.min.js')
	script(src='/javascripts/jquery.zoom.min.js')
	script(src='/../javascripts/javascript.js')

body

	include logo 

	.container-fluid
		.row
			.col-md-2.col-sm-4.sidebar1
				.brand Filtrar busca:
				.menu-list
					ul#menu-content
						
						li#filmes
							a(href='#')
							i.fa.fa-film.fa-lg
							strong  Movies
						ul.sub-menu.collapse
								
						li#series
							a(href='#')
							i.fa.fa-video-camera.fa-lg
							strong  Shows
						ul.sub-menu.collapse
								
						li#animes
							a(href='#')
							i.fa.fa-child.fa-lg
							strong  Animes
						ul.sub-menu.collapse
								
			.col-md-10
				nav
					.nav-wrapper
						form
							.input-field
								input(type='search', id='txt-search', required)
								label.label-icon(for='search')
									i.material-icons search
								i.material-icons close
						div#resultados-busca

				div.brancojson
					div.container
						div.row
							#quadros